extends ./_layouts/horoscope

block horoscope_content
  .report-margin
    .pull-right
        .social-likes(data-url=config.protocol+site.head.canonical)
          each item in config.shareDataServices
            div(class=item)
    .a-periods
      each item in periods
        a(class=item.css, href=item.href)= item.text
    .page-title
      h1= title
      h2.sub-title
        = subTitle
      br

  if (currentReports)
    each item in currentReports
      if (periodSign==='W')
        +horoscopeWeekReport(item)
      else
        +horoscopeDayReport(item)
  br
  include _includes/ad-bottom
    //- br
    //- a(class='btn-more', href=links.horoscope.sign())

block prepend right_content_bottom
  .group
    .ads-block.ads-600
      // Ournet horoscope right
      ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='9547245832', data-ad-format='auto')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
