extends ./_layouts/horoscope

block horoscope_content
  .report-margin
    .pull-right
        .social-likes(data-url=site.head.canonical)
          each item in config.shareDataServices
            div(class=item)
    if (periods)
      .a-periods
        each item in periods
          a(class=item.css, href=item.href)= item.text
    .page-title
      h1= title
      h2.sub-title
        = subTitle
      br
      
  if (currentSignReport)
    if (periodSign === 'W')
      +horoscopeWeekReport(currentSignReport, currentWeekPeriodText)
      //- include ./_includes/n-subscribe
      +weekZodiacSignsIcons()
    else
      +horoscopeDayReport(currentSignReport, currentDayPeriodText)
      //- include ./_includes/n-subscribe
      +dayZodiacSignsIcons()

  .report-margin
    .c-lead.hidden.js-subscribe-block
      br
      a.btn.btn-primary.js-subscribe-btn(href='#')
        strong= __('subscribe_to_daily_notifications')
      br
      br
    include _includes/ad-bottom
    br
    .fb-comments(data-href=site.head.canonical, data-numposts="5", data-width="100%")
    br
    include _includes/ad-bottom

block append scripts
  if (config.oneSignal)
    script(src='https://cdn.onesignal.com/sdks/OneSignalSDK.js', async)
    script.
      var OneSignal = window.OneSignal || [];

      $('.js-subscribe-btn').click(function(event) {
        event.preventDefault();
        event.stopPropagation();
        subscribeToNotifications();
      });

      function subscribeToNotifications() {
        OneSignal.registerForPushNotifications();
        ga('send', 'event', 'notifications', 'show-register-native');
        //- event && event.preventDefault();
      }

      function hideSubscribe() {
        $('.js-subscribe-block').addClass('hidden');
        //- document.getElementById('js-subscribe-block').style.display = 'none';
      }
      function showSubscribe() {
        $('.js-subscribe-block').removeClass('hidden');
        //- document.getElementById('js-subscribe-block').style.display = 'block';
      }

      OneSignal.push(['init', {
        appId: "#{config.oneSignal.appId}",
        autoRegister: false,
        persistNotification: false,
        notifyButton: {
          enable: true,
          showCredit: false,
          prenotify: true
        },
        welcomeNotification: {
          disable: true
        },
        safari_web_id: "#{config.oneSignal.safari_web_id}"
      }]);
      OneSignal.push(function() {
        OneSignal.on('notificationPermissionChange', function(permissionChange) {
          var currentPermission = permissionChange.to;
          if (currentPermission === 'granted') {
            OneSignal.sendTag('zodiac-sign', '#{sign.id}');
          }
          hideSubscribe();
          ga('send', 'event', 'notifications', currentPermission);
        });
        // Occurs when the user's subscription changes to a new value.
        OneSignal.on('subscriptionChange', function (isSubscribed) {
          if (isSubscribed) {
            hideSubscribe();
            OneSignal.sendTag('zodiac-sign', '#{sign.id}');
          }
        });

        // If we're on an unsupported browser, do nothing
        if (!OneSignal.isPushNotificationsSupported()) {
          hideSubscribe();
          ga('send', 'event', 'notifications', 'not-supported');
          return;
        }
        OneSignal.isPushNotificationsEnabled(function(isEnabled) {
          if (isEnabled) {
            hideSubscribe();
          } else {
            showSubscribe();
          }
        });
      });

  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/#{site.simpleLocale}/sdk.js#xfbml=1&version=v2.6&appId=#{config.facebookId}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
