extends ./_layouts/horoscope

block horoscope_content
  .report-margin
    .pull-right
        .social-likes(data-url=site.head.canonical)
          each item in config.shareDataServices
            div(class=item)
    .a-periods
      each item in periods
        a(class=item.css, href=item.href)= item.text
    .page-title
      h1= title
      h2.sub-title
        = subTitle
      br
      
  if (currentSignReport)
    if (periodSign === 'W')
      +horoscopeWeekReport(currentSignReport, currentWeekPeriodText)
      +weekZodiacSignsIcons()
    else
      +horoscopeDayReport(currentSignReport, currentDayPeriodText)
      +dayZodiacSignsIcons()

  .report-margin
    include _includes/ad-bottom
    br
    .fb-comments(data-href=site.head.canonical, data-numposts="5", data-width="100%")
    br
    include _includes/ad-bottom

block append scripts
  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/#{site.simpleLocale}/sdk.js#xfbml=1&version=v2.6&appId=#{config.facebookId}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
