mixin horoscopeDayReport(report, date, footer)
  - var signName = util.signName(report.sign, currentCulture.language)
  .report.clearfix
    if (date)
      .report-date=date
    .report-head
      a(href=links.horoscope.sign(signName.slug))
        .report-icon
          .c-zs-icon
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20')
              use(href="#svg-zs-icon-"+report.sign)
        h4= signName.name
        .report-dates= util.formatSignDates(report.sign, config.signDateFormat)
    .report-body
      .report-text
        != util.encodeReportText(report.text)
      if (footer)
        .report-footer
          .report-numbers= __('lucky_numbers')
            | :
            each number in report.numbers
              span(class='report-no')= number

mixin horoscopeWeekReport(report, date, footer)
  - var signName = util.signName(report.sign, currentCulture.language)
  .report.clearfix
    if (date)
      .report-date=date
    .report-head
      a(href=links.horoscope.sign.period(signName.slug, config.weeklyName))
        .report-icon
          .c-zs-icon
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20')
              use(href="#svg-zs-icon-"+report.sign)
        h4= signName.name
        .report-dates= util.formatSignDates(report.sign, config.signDateFormat)
    .report-body
      .report-text
        != util.encodeReportText(report.text)
      if (footer)
        .report-footer
          .report-numbers= __('lucky_numbers')
            | :
            each number in report.numbers
              span(class='report-no')= number

mixin dayZodiacSignsIcons(options)
  .c-zs-list
    each i in [1,2,3,4,5,6,7,8,9,10,11,12]
      - var sign = util.signName(i, currentCulture.language);
      a.c-zs-icon(href=links.horoscope.sign(sign.slug))
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20')
          use(href="#svg-zs-icon-"+i)

mixin weekZodiacSignsIcons(options)
  .c-zs-list
    each i in [1,2,3,4,5,6,7,8,9,10,11,12]
      - var sign = util.signName(i, currentCulture.language);
      a.c-zs-icon(href=links.horoscope.sign.period(sign.slug, config.weeklyName))
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20')
          use(href="#svg-zs-icon-"+i)
