mixin horoscopeDayReport(report, date)
  - var signName = util.signName(report.sign, currentCulture.language)
  .report.clearfix
    if (date)
      .report-date=date
    .report-head
      a(href=links.horoscope.sign(signName.slug))
        .c-zs
          i.c-zs-icon(class=('c-zs-'+report.sign))
        h4= signName.name
    .report-body
      != util.encodeReportText(report.text)

mixin horoscopeWeekReport(report, date)
  - var signName = util.signName(report.sign, currentCulture.language)
  .report.clearfix
    if (date)
      .report-date=date
    .report-head
      a(href=links.horoscope.sign.period(signName.slug, config.weeklyName))
        .c-zs
          i.c-zs-icon(class=('c-zs-'+report.sign))
        h4= signName.name
    .report-body
      != util.encodeReportText(report.text)

mixin dayZodiacSignsIcons(options)
  .zs-list
    each i in [1,2,3,4,5,6,7,8,9,10,11,12]
      - var sign = util.signName(i, currentCulture.language);
      a.c-zs(href=links.horoscope.sign(sign.slug))
        i.c-zs-icon(class=('c-zs-'+i))

mixin weekZodiacSignsIcons(options)
  .zs-list
    each i in [1,2,3,4,5,6,7,8,9,10,11,12]
      - var sign = util.signName(i, currentCulture.language);
      a.c-zs(href=links.horoscope.sign.period(sign.slug, config.weeklyName))
        i.c-zs-icon(class=('c-zs-'+i))
